<h1><%= @cocktail.name %></h1>
<% @cocktail.doses.each do |dose| %>
          <%= dose.description%>
          <%= dose.ingredient.name %>
          <% end %>

<%= link_to "Ajouter une dose d'un ingredient", new_cocktail_dose_path(@cocktail) %>

<%= link_to "Créer un nouveau cocktail", new_cocktail_path%>


